/*chatbot.css*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  /* border: 1px solid #dddddd; */
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 4px;
  text-align: left;
}

td {
  /* background-color: #dddddd; */
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 4px;
  text-align: center;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.toggle-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 15px;
  border: 1px solid black;
  background-color: #0593d3;
  color: white;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  box-shadow: blueviolet;
  transition: 800ms;
}

.toggle-button:hover {
  background-color: white;
  color: #00bfff;
}

.toggle-button:active {
  background-color: #340150;
  color: white;
}

.chat-container {
  position: fixed;
  bottom: 60px;
  right: 30px;
  display: flex;
  flex-direction: column;
  height: 85vh;
  width: 75vw;
  max-width: 1400px;
  border: 1px solid black;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.85);
  font-family: 'Roboto', sans-serif;
}

.chat-container::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 20px;
  height: 20px;
  cursor: se-resize;
}

.messages-container {
  flex: 1;
  overflow-y: scroll;
}

.chat-message {
  padding: 10px;
  margin: 10px;
  border-radius: 15px;
  word-wrap: break-word;
  white-space: pre-wrap;
  max-width: 80%;
  display: flex;
  flex-direction: row;
}

.chat-message img {
  height: auto;
  display: block;
  margin: 10px auto;
}

.user-message {
  float: right;
  clear: both;
  justify-content: flex-end;
}

.user-message .user-icon {
  width: 64px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-message .user-icon img {
  width: 64px;
  height: 64px;
  border-radius: 30%;
  object-fit: contain;
}

.user-message .user-icon i {
  font-size: 30px;
  color: white;
}

.user-message .user-message-content {
  background-color: #0048fff2;
  color: white;
  font: 1.2em "ColfaxAI", "helvetica", "Lucida Grande", sans-serif;
  padding: 10px;
  border-radius: 15px;
  word-wrap: break-word;
  white-space: pre-wrap;
  max-width: 90%;
  margin-right: 10px;
}

.user-message .user-message-content p {
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  padding: 0;
}

.user-message .user-message-content ol {
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  padding: 0;
  list-style-position: inside;
}

.user-message .user-message-content-personal {
  background-color: #0048fff2;
  color: white;
  padding: 10px;
  border-radius: 10px;
  word-wrap: break-word;
  white-space: pre-wrap;
  max-width: 90%;
  margin-right: 10px;
}

.user-message .user-message-content-business {
  background-color: lightgray;
  color: darkgreen;
  font: 1.2em "ColfaxAI", "helvetica", "Lucida Grande", sans-serif;
  padding: 10px;
  border-radius: 10px;
  word-wrap: break-word;
  white-space: pre-wrap;
  max-width: 90%;
  margin-right: 10px;
}

.user-message .user-message-content-education {
  background-color: rgb(222, 246, 165);
  color: darkgreen;
  padding: 10px;
  border-radius: 10px;
  word-wrap: break-word;
  white-space: pre-wrap;
  max-width: 90%;
  margin-right: 10px;
}

.user-message .user-message-content-fitness {
  background-color: rgb(0, 94, 94);
  color: lightcyan;
  padding: 10px;
  border-radius: 10px;
  word-wrap: break-word;
  white-space: pre-wrap;
  max-width: 90%;
  margin-right: 10px;
}

.user-message img {
  float: right;
  max-width: 100%;
}

.user-message a {
  color: rgb(0, 255, 72);
}


.bot-message {
  float: left;
  clear: both;
  justify-content: flex-start;
}

.bot-message .bot-icon {
  width: 64px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.bot-message .bot-icon img {
  width: 64px;
  height: 64px;
  border-radius: 30%;
  object-fit: contain;
}

.bot-message .bot-icon i {
  font-size: 30px;
  color: white;
}

.bot-message .bot-message-content {
  background-color: lightcyan;
  color: darkblue;
  font: 1.2em "ColfaxAI", "helvetica", "Lucida Grande", sans-serif;
  padding: 10px;
  border-radius: 15px;
  word-wrap: break-word;
  white-space: pre-wrap;
  max-width: 90%;
}

.bot-message .bot-message-content p {
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  padding: 0;
}

.bot-message .bot-message-content ol {
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  padding: 0;
  list-style-position: inside;
}

.bot-message .bot-message-content-personal {
  background-color: #9304faed;
  color: white;
  padding: 10px;
  border-radius: 15px;
  word-wrap: break-word;
  white-space: pre-wrap;
  max-width: 90%;
}

.bot-message .bot-message-content-business {
  background-color: lightcyan;
  color: darkblue;
  font: 1.2em "ColfaxAI", "helvetica", "Lucida Grande", sans-serif;
  padding: 10px;
  border-radius: 10px;
  word-wrap: break-word;
  white-space: pre-wrap;
  max-width: 90%;
}

.bot-message .bot-message-content-education {
  background-color: rgb(255, 217, 142);
  color: darkblue;
  padding: 10px;
  border-radius: 10px;
  word-wrap: break-word;
  white-space: pre-wrap;
  max-width: 90%;
}

.bot-message .bot-message-content-fitness {
  background-color: rgb(182, 0, 249);
  color: lavenderblush;
  padding: 10px;
  border-radius: 10px;
  word-wrap: break-word;
  white-space: pre-wrap;
  max-width: 90%;
}

.bot-message img, .bot-message .latex-image {
  float: left;
  clear: both;
  margin: 10px auto;
  max-width: 100%;
}

.code-block {
  background-color: #170202;
  color: rgb(210, 210, 210);
  font-family: monospace;
  font-size: 14px;
  padding: 10px;
  margin: 10px;
  border-radius: 15px;
  word-wrap: normal;
  white-space: nowrap;
  overflow-x: scroll;
  max-width: 95%;
}

.code-block pre {
  word-break: break-all;
  white-space: pre;
  overflow-x: auto;
  flex: 1;
  margin: 0;
}

.code-block-header {
  display: flex;
  justify-content: flex-end;
}

.copy-button {
  background-color: darkgray;
  color: darkblue;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
  font-size: 12px;
}

.chat-input {
  display: block;
  height: 40px;
  line-height: 25px;
  width: 95%;
  min-height: 50px;
  max-height: 200px;
  border-radius: 10px;
  border: 1px solid black;
  padding: 10px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  resize: vertical;
  word-wrap: break-word;
  overflow-x: hidden;
  overflow-y: scroll;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

.chat-input:focus {
  outline: none; /* remove default focus outline */
}

.chat-input::placeholder {
  color: #0f0101dc; /* set placeholder text color */
}

.chat-input:active,
.chat-input:focus {
  border: 2px solid #0048fffb;
}

.chat-input:invalid {
  box-shadow: none; /* remove default invalid input box shadow */
}

.chat-input:not(:focus):valid {
  box-shadow: none; /* remove default valid input box shadow */
}

.chat-input:focus::placeholder {
  color: transparent; /* hide placeholder text when input is focused */
}

.button-row-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  vertical-align: middle;
  align-items: center;
}

.send-button-container {
  display: flex;
  width: 200px;
  justify-content: space-evenly;
  vertical-align: middle;
  align-items: center;
  margin-left: auto;
  margin-right: 30px;
}

.clear-button-container {
  display: flex;
  width: 200px;
  justify-content: space-evenly;
  vertical-align: middle;
  align-items: center;
  margin-left: 30px;
  margin-right: auto;
}

.image-input {
  display: none;
}

.image-upload-button {
  height: 32px;
  /* padding: 5px; */
  border-radius: 15px;
  border: 0;
  background-color: #f5f5f5;
  color: black;
  font-size: 16px;
  vertical-align: middle;
  cursor: pointer;
  transition: 500ms;
  order: 1;
}

#image-upload-button:hover {
  background-color: rgb(207, 207, 207);
  color: #00bfff;
}

#image-upload-button:active {
  background-color: #340150;
  color: white;
}

.document-upload-button {
  height: 32px;
  margin-left: 10px;
  margin-right: 20px;
  border-radius: 15px;
  border: 0;
  background-color: #f5f5f5;
  color: black;
  font-size: 16px;
  vertical-align: middle;
  cursor: pointer;
  transition: 500ms;
  order: 2;
}

#document-upload-button:hover {
  background-color: rgb(207, 207, 207);
  color: #00bfff;
}

#document-upload-button:active {
  background-color: #340150;
  color: white;
}

.voice-input-button {
  height: 32px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 15px;
  border: 0;
  background-color: #f5f5f5;
  color: black;
  font-size: 16px;
  vertical-align: middle;
  cursor: pointer;
  transition: 500ms;
  order: 4;
}

#voice-input-button:hover {
  background-color: rgb(207, 207, 207);
  color: #00bfff;
}

#voice-input-button:active {
  background-color: #340150;
  color: white;
}

.image-preview {
  display: none;
  height: 50px;
  width: auto;
  margin-left: 50px;
  margin-right: auto;
}

.send-button {
  height: 36px;
  width: 100px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 2px;
  margin-bottom: 2px;
  border-radius: 15px;
  border: 1px solid black;
  background-color: #00bfff;
  color: white;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  transition: 500ms;
  order: 3;
}

.send-button:hover {
  background-color: white;
  color: #00bfff;
}

.send-button:active {
  background-color: #340150;
  color: white;
}

.clear-button {
  height: 36px;
  width: 100px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 2px;
  margin-bottom: 2px;
  border-radius: 15px;
  border: 1px solid black;
  background-color: #00bfff;
  color: white;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  transition: 500ms;
  order: 2;
}

.clear-button:hover {
  background-color: white;
  color: #00bfff;
}

.clear-button:active {
  background-color: #340150;
  color: white;
}

.powered-by-container {
  text-align: center;  /* Center the text */
  margin: 0;
}

.powered-by-label {
  text-align: center;  /* Center the text */
  font-size: 0.8em;  /* Make the font smaller than normal */
  color: #777;  /* Use a less pronounced color */
  margin: 3px;
}

#asset-container {
  min-height: 5vh;
  max-height: 15vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column; /* Single column layout by default */
}

.asset-element {
  display: flex;  /* Use flexbox to layout the child elements */
  align-items: center;  /* Center the child elements vertically */
  justify-content: space-between;  /* Distribute space evenly between the child elements */
  padding: 5px;  /* Add some padding around each asset element */
}

.asset-filename {
  flex-grow: 1;  /* Allow the filename to take up any remaining space */
  margin-right: 10px;  /* Add some margin to the right of the filename */
}

.file-type-icon,
.delete-icon {
  width: 20px;  /* Set a fixed width for the icons */
  height: 20px;  /* Set a fixed height for the icons */
}

@media screen and (min-width: 600px) { /* Adjust the threshold as needed */
  #asset-container {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .asset-element {
    flex: 0 0 calc(50% - 10px); /* Two column layout if the viewport is wider than 600px, with 10px gap */
  }
}

@media (max-width: 500px) {
  .send-button-container {
    width: 100%;
    align-items: flex-end;
    justify-self: flex-end;
  }
  .send-button {
    margin-top: 5px;
  }
  .chat-container {
    width: 85%;
    height: 90%;
  }
}
